.App {
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #A7CDBD;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.home-title {
  background-color: #BBE1C3;
  width: 100vw;
}

.home-btn {
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.home-hall-of-fame {
  background-color: #A7CDBD;
  min-height: 60vh;
}

.hall-of-fame-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #A7CDBD;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}